<%= form_for(@inputform) do |f| %>
  <% if @inputform.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inputform.errors.count, "error") %> prohibited this inputform from being saved:</h2>

      <ul>
      <% @inputform.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<div class="panel panel-info">
  <div class="panel-heading">
    Your Information: <strong> Input Vector </strong>
  </div>
  <div class="panel-body">
  <table class="table table-bordered table-hover table-striped">
    <tr>
      <th>Loan Amount</th>
      <th>Installment</th>
      <th>Grade</th>
      <th>Employment Length</th>
      <th>Annual Income</th>
      <th>Debt to Income Ratio</th>
      <th>FCL</th>
      <th>FCH</th>
      <th>Number Inquires (6 Months)</th>
      <th>K neighbors</th>
    </tr>
    
    <tr>
      <th><div class="field form-group">
    <%= f.text_field :loan_amnt,class: 'form-control' %>
          </div>
      </th>
      <th><div class="field form-group">
    <%= f.text_field :installment,class: 'form-control' %>
  </div></th>
      <th><div class="field form-group">
    <%= f.text_field :grade, class: 'form-control' %>
  </div></th>
      <th><div class="field form-group">
    <%= f.text_field :emp_length,class: 'form-control' %>
  </div></th>
      <th><div class="field form-group">
    <%= f.text_field :annual_inc,class: 'form-control' %>
  </div></th>
      <th><div class="field form-group">
    <%= f.text_field :dti,class: 'form-control' %>
  </div></th>
      <th><div class="field form-group">
    <%= f.text_field :fico_range_low,class: 'form-control' %>
  </div></th>
      <th><div class="field form-group">
    <%= f.text_field :fico_range_high,class: 'form-control' %>
  </div></th>
      <th><div class="field form-group">
    <%= f.text_field :number_inq_last_6months,class: 'form-control' %>
  </div></th>
      <th><div class="field form-group">
    <%= f.text_field :k,class: 'form-control' %>
  </div></th>
    </tr>
    
  </table>
  
  </div>
</div>
  <div class="actions form-group">
    <div class="col-sm-offset-0 col-sm-10">
      <%= f.submit class: 'btn btn-lg btn-primary'%>
    </div>
  </div>
  </div>
<% end %>

      
    
    
    
        <img src="http://s32.postimg.org/j9gdp6xsl/lendingclub_investor_screenshot.png">
   