<%= form_for(@loan) do |f| %>
  <% if @loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

      <ul>
      <% @loan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :loanamount %><br>
    <%= f.text_field :loanamount %>
  </div>
  <div class="field">
    <%= f.label :term %><br>
    <%= f.number_field :term %>
  </div>
  <div class="field">
    <%= f.label :intrate %><br>
    <%= f.text_field :intrate %>
  </div>
  <div class="field">
    <%= f.label :subgrade %><br>
    <%= f.number_field :subgrade %>
  </div>
  <div class="field">
    <%= f.label :emplength %><br>
    <%= f.number_field :emplength %>
  </div>
  <div class="field">
    <%= f.label :homeowner %><br>
    <%= f.number_field :homeowner %>
  </div>
  <div class="field">
    <%= f.label :anualincome %><br>
    <%= f.number_field :anualincome %>
  </div>
  <div class="field">
    <%= f.label :verficationstatus %><br>
    <%= f.number_field :verficationstatus %>
  </div>
  <div class="field">
    <%= f.label :loanstatus %><br>
    <%= f.number_field :loanstatus %>
  </div>
  <div class="field">
    <%= f.label :dti %><br>
    <%= f.number_field :dti %>
  </div>
  <div class="field">
    <%= f.label :ficolow %><br>
    <%= f.number_field :ficolow %>
  </div>
  <div class="field">
    <%= f.label :ficohigh %><br>
    <%= f.number_field :ficohigh %>
  </div>
  <div class="field">
    <%= f.label :numinqsixmonths %><br>
    <%= f.number_field :numinqsixmonths %>
  </div>
  <div class="field">
    <%= f.label :desc %><br>
    <%= f.text_field :desc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
