<p id="notice"><%= notice %></p>

<p>
  <strong>Loanamount:</strong>
  <%= @loan.loanamount %>
</p>

<p>
  <strong>Term:</strong>
  <%= @loan.term %>
</p>

<p>
  <strong>Intrate:</strong>
  <%= @loan.intrate %>
</p>

<p>
  <strong>Subgrade:</strong>
  <%= @loan.subgrade %>
</p>

<p>
  <strong>Emplength:</strong>
  <%= @loan.emplength %>
</p>

<p>
  <strong>Homeowner:</strong>
  <%= @loan.homeowner %>
</p>

<p>
  <strong>Anualincome:</strong>
  <%= @loan.anualincome %>
</p>

<p>
  <strong>Verficationstatus:</strong>
  <%= @loan.verficationstatus %>
</p>

<p>
  <strong>Loanstatus:</strong>
  <%= @loan.loanstatus %>
</p>

<p>
  <strong>Dti:</strong>
  <%= @loan.dti %>
</p>

<p>
  <strong>Ficolow:</strong>
  <%= @loan.ficolow %>
</p>

<p>
  <strong>Ficohigh:</strong>
  <%= @loan.ficohigh %>
</p>

<p>
  <strong>Numinqsixmonths:</strong>
  <%= @loan.numinqsixmonths %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @loan.desc %>
</p>

<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back', loans_path %>
